<footer class="bg-dark text-white p-5 mt-5">
        <div class="container">  
            <div class="row">
                    <div class="col-md-7 mb-4">                            
                        <h3 class="f4 b lh-title mb1 primary">Rundelns samfällighetsförening</h3>
                        <ul class="mb6 m-0 p-0">
                            <li><a href="/" class="link">Start</a></li>
                            <li><a href="/rundeln-runt" class="link">Rundeln runt</a></li>
                            <li><a href="/nyttig-information" class="link">Nyttig information</a></li>
                            <li><a href="/contact" class="link">Kontakt</a></li>
                        </ul>                    
                    </div>
                    <div class="col-md-5 mb-4">                        
                        <h3 class="f4 b lh-title mb2 primary">Social media</h3>
                        <ul class="mhn2 m-0 p-0">
                             {{ partial "social-icon" (dict "link" "https://www.facebook.com/groups/2267361103590771/" "svg" "icons-facebook") }}
                        </ul>                    
                    </div>                
            </div>              
        </div>    
    </footer>
    
    {{ partial "svg" . }}