<header class="jumbotron jumbotron-fluid cover" style="background-image: url('{{ if .imageUrl }}{{ .imageUrl }}{{ else }}{{ .globalImageUrl }}{{ end }}')">
    <div class="container">
        <div class="mb-4">
            <h1 class="display-4 d-inline bg-primary text-white ">{{ .title | markdownify }} </h1>
        </div>
        {{ if .slogan }}
            <div>
                <p class="lead d-inline p-3 bg-primary text-white">{{ .slogan }}</p>
            </div>
        {{ end}}
    </div>
</header>